# SPDX-FileCopyrightText: 2022 Deren Vural
# SPDX-License-Identifier: GPL-3.0-or-later

enable=all
source-path=SCRIPTDIR
disable=SC2154

# If you're having issues with shellcheck following source, disable the errors via:
# disable=SC1090
# disable=SC1091
